<div class="main-container" style="border: 1px solid black; border-radius: 5px; padding: 1em;">
    <ChildComponent ParentSectionId="ParentContent" />
    <SectionOutlet SectionId="ParentContent" />
</div>

<style>
    .main-container > div {
        border: 2px solid red;
    }
</style>

<SectionContent SectionName="child-content">
    <div>
        From parent to child
    </div>
</SectionContent>

<SectionContent SectionName="top-row-content">
    <div>
        ParentComponent
    </div>
</SectionContent>

@code {
    private SectionOutlet ParentContent = new();
}
